<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastrar</title>
</head>
<body>

<h2>Cadastrar</h2>
<form method="post" action="/efetuar-cadastro">
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome"><br>
    <input type="text" id="cpf" name="cpf" placeholder="Digite seu cpf"><br>
    <input type="date" id="data" name="data" placeholder="Sua data de nascimento"><br>
    <input type="email" id="email" name="email" placeholder="Digite seu email"><br>
    <input type="password" id="senha" name="senha" placeholder="Digite sua senha"><br>
    <button type="submit">cadastrar</button><br>



</body>
</html>