<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>painel</title>
</head>
<body>

<h2>painel</h2>

<a href="veiculo/registrar-entrada">Registrar Entrada</a>

<a href="veiculo/registrar-saida">Registrar Saída</a>

<table>
    <thead>
    <tr>
        <th>Placa</th>
        <th>Modelo</th>
        <th>Hora Entrada</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each>
        <td>CPT-9630</td>
        <td>T-Cross</td>
        <td>11:00</td>
        <td>Estacionado</td>
    </tr>
    </tbody>
</table>

</body>
</html>