<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/veiculo/cadastrar">

  <input type="text" id="placa" name="placa" placeholder="Digite a placa"></br>
  <input type="text" id="modelo" name="modelo" placeholder="Digite o modelo"></br>
  <input type="text" id="cor" name="cor" placeholder="Digite a cor"></br>
  <input type="text" id="observacao" name="observacao" placeholder="Digite as observações"></br>

  <button type="submit">Salvar Entrada</button> <br>

</form>
</body>
</html>